{{#footer}}
<div class="funding">
  <p>Initial Funding: <a href="https://www.snf.ch/en/XIZpfY3iVS5KRRoD/funding/careers/postdoc-mobility" target="_blank">SNSF Early Post Doc Mobility Fellowship</a></p>
  <p>Host: <a
               href="https://www.arch.cam.ac.uk/institutes-and-facilities-overview/mcdonald-institute-archaeological-research"
    target="_blank">McDonald Institute for Archaeological Research</p>
</div>
<div  class="feedback">
  <p>{{#right}}{{{.}}}{{/right}}</p>
</div>
{{/footer}}
